/* src/styles.scss */
:root {
  --fondo-crema: #FDFBE9;
  --sidebar-negro: #18181B;
  --rosa-pastel: #F8C8DC;
  --amarillo-pastel: #FDF2B3;
  --blanco: #ffffff;
  --border-radius-lg: 35px;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--fondo-crema);
}